<h1>Stupid Coaching</h1>

<form action="answer" data-turbo="false">
  <input type="text" id="question" name="question" placeholder="Ask a question to your coach">
  <input type="submit" value="Ask!">
</form>
